.btn-home{
    display: flex;
    flex-direction: row;
    margin-top: 95px;
    width: 100%;
}
button{
    margin: 2%;
    border-radius: 1vh;
    border: 2px solid wheat;
    width:150px;
    color: black;
    font-size: 25px;
    height: 80px;
    text-align: center;
    justify-content: center;
}
.btn-warning{
    margin-left: 50px;
    margin-right: 0;
    display: flex;
    right: 0;
}
Link{
    margin: 2%;
    border-radius: 1vh;
    border: 2px solid wheat;
    width:150px;
    color: black;
    font-size: 25px;
    height: 100px;
    text-align: center;
    justify-content: center;
}
button:hover{
    background-color: rgba(245, 211, 179, 0.979);
}
.home-content{
    margin-top: 120px;
}