.abt{
    background-color: rgb(0, 0, 0);
}
.abt-main{
    background-color: white;
    height: 700px;
    /* height: max-content; */
    /* margin-left: 10px; */
}
.main{
    color: black;
}
.content{
    margin-left: 30px;
}