img{
    height: 400px;
    margin-bottom: 27px;
    display: flex;
    margin: auto;
}
.desc{
    display: flex;
    
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 20px;
    
}
.createReq{
    border-radius: 17px;
    background-color: rgb(254, 250, 217);
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* margin: auto; */
}
.header{
    margin-bottom: 5px;
}