@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400&display=swap");

$white: #f8fcfa;
$primary-color: #14183e;
$secondary-color-1: #5dadaa;
$secondary-color-2: #ff7468;

$regular: 400;
$semibold: 600;
$bold: 700;

$extra-large-screen: 1201px;
$large-screen: 1200px;
$small-screen: 1024px;
$tablet-screen: 768px;
$mobile-screen: 480px;
